#topBar {
  transition: width 0.3s ease;
}

#play {
  color: rgb(65, 160, 101);
  cursor: pointer;
}
#play:hover {
  color: rgb(89, 226, 142);
}

#albumImage:hover {
  transform: scale(1.1);
}

.icon {
  color: white;
  transition: color 0.3s;
}

.icon:hover i {
  color: green;
}

.track-element:hover {
  background-color: rgb(53, 53, 53);
}

.icon-text {
  display: none;
  font-size: 1.7em;
}
.number-text {
  display: inline;
}
.track-element:hover .number-text {
  display: none;
}
.track-element:hover .icon-text {
  display: inline;
}

.track-element .col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 0.5em;
}
.bg-spotify {
  background-color: #121212;
}
