.albums:hover {
  z-index: 1;
  background-color: #212529;
}

.albums {
  background-color: transparent;
  width: 12rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
  border-radius: 2%;
  cursor: pointer;
}

/* Stile per il contenitore dell'icona */
#play-icon-albums {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #419f65;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.albums:hover #play-icon-albums {
  opacity: 1;
}

/* Stile per l'icona di riproduzione */
.play-icon-albums .fas {
  font-size: 24px; /* Dimensione dell'icona */
  color: black; /* Colore dell'icona */
}

/* Effetto hover per mostrare l'icona */
.card:hover .play-icon-albums {
  opacity: 1; /* Visibile al passaggio del mouse */
}

/* Assicurarsi che il contenitore della card abbia un contesto di posizionamento */
.card img {
  position: relative;
  overflow: hidden; /* Nascondere l'icona se esce dai bordi della card */
}

.albums:hover .play-icon {
  opacity: 1;
}

#topBar {
  transition: width 0.3s ease;
}

.bg-spotify {
  background-color: #121212;
}

body {
  font-family: "Circular";
}

.albumsContainer {
  gap: 1rem;
}
