.artistContainer {
  gap: 1rem;
}

/* Stile per il contenitore dell'icona */
#play-icon-artist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #419f65;
  border-radius: 50%;
  position: absolute;
  top: 65%;
  left: 80%;
  transform: translate(-50%, -50%);
}

/* Assicurarsi che il contenitore della card abbia un contesto di posizionamento */
.card img {
  position: relative;
  overflow: hidden; /* Nascondere l'icona se esce dai bordi della card */
}

#topBar {
  transition: width 0.3s ease;
}

.bg-spotify {
  background-color: #121212;
}

body {
  font-family: "Circular";
}
