.sideBar {
  margin-bottom: 60px;
}
.sideBar-library {
  max-height: 70vh;
}
#track-range {
  width: 450px;
}
#range-volume {
  max-width: 80px;
}
#rightBar {
  max-height: 70vh;
}
.bg-spotify {
  background-color: #121212;
}
