.sideBar {
  margin-bottom: 60px;
}
.sideBar-library {
  max-height: 70vh;
}
#track-range {
  width: 450px;
}
input[type="range"] {
  -webkit-appearence: none;
  width: 200px;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearence: none;
  appearence: none;
  width: 20px;
  height: 20px;
  background: #04aa6d;
  cursor: pointer;
  border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #04aa6d;
  cursor: pointer;
  border-radius: 50%;
}

#range-volume {
  max-width: 80px;
}

.container {
  margin-bottom: 50px;
}
.card {
  width: 100%;
}
.n1 {
  background-color: fuchsia;
  margin: 0;
  width: 100%;
  height: 130px;
}
.n1 img {
  rotate: 25deg;
  translate: 60px 10px;
}
.n2 {
  background-color: rgb(0, 255, 47);
  margin: 0;
  width: 100%;
  height: 130px;
}
.n2 img {
  rotate: 25deg;
  translate: 60px 10px;
}
.n3 {
  background-color: rgb(137, 27, 137);
  margin: 0;
  width: 100%;

  height: 130px;
}
.n3 img {
  rotate: 25deg;
  translate: 60px 10px;
}
.n4 {
  background-color: rgb(0, 13, 255);
  margin: 0;
  width: 100%;
  height: 130px;
}
.n4 img {
  rotate: 25deg;
  translate: 60px 10px;
}
.n5 {
  background-color: rgb(255, 0, 76);
  margin: 0;
  width: 100%;
  height: 130px;
}
.n5 img {
  rotate: 25deg;

  translate: 60px 10px;
}
.n6 {
  background-color: rgb(39, 161, 5);
  margin: 0;
  width: 100%;
  height: 130px;
}
.n6 img {
  rotate: 25deg;
  translate: 60px 10px;
}
.n7 {
  background-color: rgb(109, 39, 109);
  margin: 0;
  width: 100%;
  height: 130px;
}
.n7 img {
  rotate: 25deg;

  translate: 60px 10px;
}
.n8 {
  background-color: rgb(7, 153, 68);
  margin: 0;
  width: 100%;
  height: 130px;
}
.n8 img {
  rotate: 25deg;
  translate: 60px 10px;
}
.n9 {
  background-color: rgb(55, 193, 238);
  margin: 0;
  width: 100%;
  height: 130px;
}
.n9 img {
  rotate: 25deg;

  translate: 60px 10px;
}
.n10 {
  background-color: rgb(0, 38, 255);
  margin: 0;
  width: 100%;
  height: 130px;
}
.n10 img {
  rotate: 25deg;
  translate: 60px 10px;
}
.n11 {
  background-color: rgb(0, 255, 72);
  margin: 0;
  width: 100%;
  height: 130px;
}
.n11 img {
  rotate: 25deg;
  translate: 60px 10px;
}
.n12 {
  background-color: rgb(255, 149, 0);
  margin: 0;
  width: 100%;
  height: 130px;
}
.n12 img {
  rotate: 25deg;
  translate: 60px 10px;
}

#leftScrool,
#rightScrool {
  height: 100vh; /* Ensure all containers have the same height */
  overflow-y: auto; /* Enable vertical scrolling within the containers */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474747;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #474747;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent the entire page from scrolling */
}

#cerca-canzone {
  background-color: rgb(42, 42, 42);

  /* border-radius: 50px; /
  / border: 1px solid grey; */
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #282828;
  color: white;
  border: 1px solid #282828;
}
#cerca-canzone::placeholder {
  color: #b3b3b3;
  padding-left: 12px;
  margin-left: 5px;
}
#cerca-canzone:focus {
  background-color: #404040;
  border: 1px solid whitesmoke;
}
#cerca-canzone:hover {
  background-color: #393939;
  border: 1px solid white;
}
.search-container .bi {
  position: absolute;
  top: 8px;
  left: 7px;
}

#topBar {
  height: 100hv;
}
