.sideBar {
  margin-bottom: 60px;
}
.sideBar-library {
  max-height: 70vh;
}
#track-range {
  width: 450px;
}
input[type="range"] {
  -webkit-appearence: none;
  width: 200px;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearence: none;
  appearence: none;
  width: 20px;
  height: 20px;
  background: #04aa6d;
  cursor: pointer;
  border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #04aa6d;
  cursor: pointer;
  border-radius: 50%;
}

#range-volume {
  max-width: 80px;
}

.container {
  margin-bottom: 50px;
}
/* .card {
  width: 100%;
  background-color: transparent;
} */
.n1 {
  background-color: fuchsia;
}
.n1 img {
  rotate: 25deg;
  translate: 120px;
}
.n2 {
  background-color: rgb(0, 255, 47);
}
.n2 img {
  rotate: 25deg;
  translate: 120px;
}
.n3 {
  background-color: rgb(137, 27, 137);
}
.n3 img {
  rotate: 25deg;
  translate: 120px;
}
.n4 {
  background-color: rgb(0, 13, 255);
}
.n4 img {
  rotate: 25deg;
  translate: 120px;
}
.n5 {
  background-color: rgb(255, 0, 76);
}
.n5 img {
  rotate: 25deg;
  translate: 120px;
}
.n6 {
  background-color: rgb(39, 161, 5);
}
.n6 img {
  rotate: 25deg;
  translate: 120px;
}
.n7 {
  background-color: rgb(109, 39, 109);
}
.n7 img {
  rotate: 25deg;
  translate: 120px;
}
.n8 {
  background-color: rgb(7, 153, 68);
}
.n8 img {
  rotate: 25deg;
  translate: 120px;
}
.n9 {
  background-color: rgb(55, 193, 238);
}
.n9 img {
  rotate: 25deg;
  translate: 120px;
}
.n10 {
  background-color: rgb(0, 38, 255);
}
.n10 img {
  rotate: 25deg;
  translate: 120px;
}
.n11 {
  background-color: rgb(0, 255, 72);
}
.n11 img {
  rotate: 25deg;
  translate: 120px;
}
.n12 {
  background-color: rgb(255, 149, 0);
}
.n12 img {
  rotate: 25deg;
  translate: 120px;
}
.bg-player {
  background-color: #313131;
}
.mobileborder {
  border-bottom: solid 1px #b8b8b8;
}

#leftScrool,
#topBar,
#rightScrool {
  height: 90vh; /* Ensure all containers have the same height */
  overflow-y: auto; /* Enable vertical scrolling within the containers */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474747;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #474747;
}
#arrow1 {
  font-size: 1.5rem;
}
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#mobileNav {
  display: none;
}
#mobilePlayer {
  display: none;
}
@media (max-width: 763px) {
  body {
    height: 70%;
    margin: 0;
    overflow: hidden;
  }
  #title {
    font-size: 3rem;
  }
  #arrow2 {
    display: none;
    font-size: 0.5;
  }
  #arrow1 {
    font-size: 1rem;
  }
  #player {
    display: none;
  }
  #mobileNav {
    display: block;
    position: relative;
  }
  #leftScrool,
  #topBar,
  #rightScrool {
    height: 82vh; /* Ensure all containers have the same height */
    overflow-y: auto; /* Enable vertical scrolling within the containers */
  }

  #mobilePlayer {
    display: block;
  }
  #mobilePlayer img {
    width: 60px;
    height: 60px;
    padding: 5px;
  }
  #show {
    display: none;
  }
  #bell {
    display: none;
  }
}
.fs-7 {
  font-size: 12px;
}

#search-input {
  background-color: rgb(42, 42, 42);

  /* border-radius: 50px; /
  / border: 1px solid grey; */
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #282828;
  color: white;
  border: 1px solid #282828;
}
#search-input::placeholder {
  color: #b3b3b3;
  padding-left: 12px;
  margin-left: 5px;
}
#search-input:focus {
  background-color: #404040;
  border: 1px solid whitesmoke;
}
#search-input:hover {
  background-color: #393939;
  border: 1px solid white;
}
.search-container .bi {
  position: absolute;
  top: 8px;
  left: 7px;
}

#topBar {
  height: 100hv;
}
footer {
  z-index: 9999;
}
.card-sfoglia {
  border-radius: 5px;
}
.card-sfoglia img {
  rotate: 25deg;
  translate: 120px;
}
#search-results {
  display: flex;
  flex-wrap: wrap;
}
