.singoli:hover {
  z-index: 1;
  background-color: #212529;
}

.singoli {
  background-color: transparent;
  width: 12rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
  border-radius: 2%;
  cursor: pointer;
}

/* Stile per il contenitore dell'icona */
#play-icon-songs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Larghezza del contenitore */
  height: 50px; /* Altezza del contenitore */
  background-color: #419f65; /* Colore di sfondo semi-trasparente */
  border-radius: 50%; /* Per fare un cerchio */
  position: absolute; /* Posizionamento assoluto */
  top: 45%; /* Centrare verticalmente */
  left: 80%; /* Centrare orizzontalmente */
  transform: translate(-50%, -50%); /* Centratura perfetta */
}

/* Stile per l'icona di riproduzione */
#play-icon-songs .fas {
  font-size: 24px; /* Dimensione dell'icona */
  color: black; /* Colore dell'icona */
}

/* Assicurarsi che il contenitore della card abbia un contesto di posizionamento */
.card {
  position: relative;
  overflow: hidden; /* Nascondere l'icona se esce dai bordi della card */
}

.singoli:hover #play-icon-songs {
  opacity: 1;
}

#topBar {
  transition: width 0.3s ease;
}

.bg-spotify {
  background-color: #121212;
}

body {
  font-family: "Circular";
}

.singoliContainer {
  gap: 1rem;
}
